<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>فرم بارنامه کامل</title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css">
{#    <link rel="stylesheet" href="/static/style.css"> #}
</head>
<body>

<div class="container">
    <div class="stamp">
        <h2>سازمان راهداری و حمل و نقل جاده ای</h2>
        <h3>مؤسسه حمل و نقل صدرا بار خراسان</h3>
    </div>
    <div>
        <ul>
            <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
            <li><a href="{% url 'barnameh' %}">صدور بار نامه</a></li>
        </ul>
    </div>
</div>


{% block content %}

{% endblock content %}

</body>
</html>