{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <title>فرم صدور بارنامه</title>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css">
        <link rel="stylesheet" href="/static/style.css">

    </head>
    <body>
    <div class="container">
        <h2>فرم ثبت بارنامه جدید</h2>
        <hr>
        <hr>
        <hr>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="section">
                        <h3>اطلاعات فرستنده</h3>
                        <hr>
                        <div class="row">
                            <div class="text-center col-md-10">

                                <input type="text" id="sender-input" autocomplete="off"
                                       placeholder="نام فرستنده را انتخاب کنید...">
                                <input type="hidden" id="sender-id" name="sender_id">
                                <div id="sender-results" class="list-group"></div>

                                {#                                <input type="text" id="receiver-input" placeholder="نام گیرنده را انتخاب کنید...">#}
                                {#                                <select name="shipment-sender" id="sender-select">#}
                                {#                                    <option value="{{ sender.id }}">{{ sender.name }}</option>#}
                                {#                            {% for sender in sender_form.fields.sender.queryset %}#}
                                {#                                <option value="{{ sender.id }}">{{ sender.name }}</option>#}
                                {#                            {% endfor %}#}
                                {#                                </select>#}

                            </div>
                            <div class="text-center col-md-1">
                                <a href="{% url 'add_sender' %}" target="_self"
                                   class="btn btn-secondary btn-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-6">
                    <div class="section">
                        <h3>اطلاعات گیرنده</h3>
                        <hr>
                        <div class="row">
                            <div class="text-center col-md-10">
                                <input type="text" id="receiver-input" autocomplete="off"
                                       placeholder="نام گیرنده را انتخاب کنید...">
                                <input type="hidden" id="receiver-id" name="receiver_id">
                                <div id="receiver-results" class="list-group"></div>

                                {#                                <input type="text" id="receiver-input" placeholder="نام گیرنده را انتخاب کنید...">#}

                                {#                                <select name="shipment-receiver" id="receiver_select">#}
                                {#                                    <option value="">-- انتخاب گیرنده --</option>#}
                                {#                                    {% for receiver in receiver_form.fields.receiver.queryset %}#}
                                {#                                        <option value="{{ receiver.id }}">{{ receiver.name }}</option>#}
                                {#                                    {% endfor %}#}
                                {#                                </select>#}

                                {#                                <div class="result-box" id="results"></div>#}
                                {#                                {{ receiver_form.as_p }}#}
                            </div>
                            <div class="text-center col-md-1">
                                <a href="{% url 'add_receiver' %}" target="_self"
                                   class="btn btn-secondary btn-lg btn-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <h3>اطلاعات راننده</h3>
                            <hr>
                            <div class="row">
                                <div class="text-center col-md-10">

                                    <input type="text" id="driver-input" class="form-control" placeholder="نام راننده را وارد کنید">
                                    <input type="hidden" id="driver-id" name="driver">
                                    <div id="driver-results" class="list-group"></div>

                                    {#                                    <input type="text" id="driver-input" placeholder="نام راننده را جستجو کنید...">#}

                                    {#                                    <select name="shipment-driver" id="driver-select">#}
                                    {#                                        <option value="">-- انتخاب راننده --</option>#}
                                    {#                                        {% for driver in driver_form.fields.driver.queryset %}#}
                                    {#                                            <option value="{{ driver.id }}">{{ driver.name }}</option>#}
                                    {#                                        {% endfor %}#}
                                    {#                                    </select>#}

                                </div>
                                <div class="text-center col-md-1">
                                    <a href="{% url 'add_driver' %}" target="_self"
                                       class="btn btn-secondary btn-lg btn-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="section">
                            <h3>اطلاعات خودروی راننده</h3>
                            <hr>
                            <div class="row">
                                <div class="text-center col-md-10">

{#                                    <label for="vehicle-plate">شماره پلاک</label>#}
                                        <input type="text" id="vehicle-plate" name="vehicle_plate" class="form-control" placeholder="شماره پلاک راننده">


                                    {#                                    <input type="text" id="driver-input" placeholder="نام راننده را انتخاب کنید...">#}

                                    {#                                    <select name="shipment-vehicle" id="vehicle-select">#}
                                    {#                                        <option value="">-- انتخاب خودرو --</option>#}
                                    {#                                        {% for vehicle in vehicle_form.fields.vehicle.queryset %}#}
                                    {#                                            <option value="{{ vehicle.id }}">{{ driver.name }}</option>#}
                                    {#                                        {% endfor %}#}
                                    {#                                    </select>#}


                                </div>
                                <div class="text-center col-md-1">
                                    <a href="{% url 'add_vehicle' %}" target="_self"
                                       class="btn btn-secondary btn-lg btn-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section">
                                <h3>اطلاعات بارنامه</h3>
                                <hr>
                                {{ shipment_form.as_p }}
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="section">
                                <h3>اطلاعات محموله</h3>
                                <hr>
                                {{ cargo_form.as_p }}
                            </div>
                        </div>
                        <br>
                    </div>
                    <hr>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success">ثبت</button>
                        <button type="submit" class="btn btn-success" rel={% url 'print' %}>ثبت و چاپ</button>
                        <button type="submit" class="btn btn-secondary">ثبت موقت قبل از چاپ</button>
                    </div>
                    <hr>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-date@1.0.6/dist/persian-date.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>

    <script>
function enableSearch(inputId, resultsId, hiddenId, searchUrl, extraOptions = {}) {
    let selectedIndex = -1;

    $(`#${inputId}`).on('keyup', function(e){
        let query = $(this).val().trim();

        // کنترل کلیدها
        if(e.keyCode === 38){ // بالا
            if(selectedIndex > 0) selectedIndex--;
            highlightItem();
            return;
        }
        if(e.keyCode === 40){ // پایین
            if(selectedIndex < $(`#${resultsId} .list-group-item`).length - 1) selectedIndex++;
            highlightItem();
            return;
        }
        if(e.keyCode === 13){ // اینتر
            e.preventDefault();
            let selected = $(`#${resultsId} .list-group-item`).eq(selectedIndex);
            if(selected.length){
                chooseItem(selected);
            }
            return;
        }

        if(query.length === 0){
            $(`#${resultsId}`).empty().hide();
            selectedIndex = -1;
            return;
        }

        $.ajax({
            url: searchUrl,
            data: { q: query },
            success: function(data){
                let html = "";
                if(data.results.length > 0){
                    data.results.forEach(function(item){
                        html += `<button type="button"
                                    class="list-group-item list-group-item-action"
                                    data-id="${item.id}"
                                    data-name="${item.name}"
                                    data-phone="${item.phone || ''}"
                                    data-plate="${item.plate_number || ''}">
                                    <strong>${item.name}</strong>
                                    ${item.phone ? " - " + item.phone : ""}
                                 </button>`;
                    });
                } else {
                    html = `<div class="list-group-item">نتیجه‌ای یافت نشد!!!</div>`;
                }
                $(`#${resultsId}`).html(html).show();
                selectedIndex = -1;
            }
        });
    });

    function highlightItem(){
        $(`#${resultsId} .list-group-item`).removeClass('active');
        if(selectedIndex >= 0){
            $(`#${resultsId} .list-group-item`).eq(selectedIndex).addClass('active');
        }
    }

    function chooseItem(item){
        let name = item.data('name');
        let id = item.data('id');
        let plate = item.data('plate');  // شماره پلاک مخصوص راننده

        $(`#${inputId}`).val(name);
        $(`#${hiddenId}`).val(id);

        // اگر extraOptions برای راننده بود → پلاک رو هم ست کن
        if(extraOptions.fillPlateField && plate !== undefined){
            $(`#${extraOptions.fillPlateField}`).val(plate);
        }

        $(`#${resultsId}`).empty().hide();
    }

    // انتخاب با کلیک ماوس
    $(document).on('click', `#${resultsId} .list-group-item`, function(){
        chooseItem($(this));
    });
}

// فعال‌سازی برای چند فیلد
$(document).ready(function(){
    enableSearch("receiver-input", "receiver-results", "receiver-id", "{% url 'search_receiver' %}");
    enableSearch("sender-input", "sender-results", "sender-id", "{% url 'search_sender' %}");

    // راننده → علاوه بر انتخاب، شماره پلاک را هم در vehicle-plate پر کند
    enableSearch("driver-input", "driver-results", "driver-id", "{% url 'search_driver' %}", {
        fillPlateField: "vehicle-plate"
    });

    enableSearch("vehicle-input", "vehicle-results", "vehicle-id", "{% url 'search_vehicle' %}");
});
</script>


    </body>
    </html>
{% endblock %}
