{% load humanize %}

<tbody>
{% for b in bijaks %}
    <tr>
        <td>{{ b.tracking_code }}</td>
        <td>{{ b.issuance_date }}</td>
        <td>{{ b.sender.name }}</td>
        <td>{{ b.receiver.name }}</td>
        <td>{{ b.total_fare|intcomma }} ریال</td>
        <td>{{ b.value|intcomma }} ریال</td>
        <td>{{ b.cargo.name }}</td>
        <td>{{ b.cargo.origin }}</td>
        <td>{{ b.cargo.destination }}</td>
        <td>{{ b.driver.name }}</td>
        <td>{{ b.vehicle.license_plate }}</td>
        <td class="d-flex flex-column flex-md-row justify-content-center gap-1">
            <a href="{% url 'print' b.pk %}" class="btn btn-sm btn-primary">چاپ</a>
            <a href="{% url 'preview' b.pk %}" class="btn btn-sm btn-info">مشاهده</a>
{#            <a href="{% url 'edit_bijak' b.pk %}" class="btn btn-sm btn-warning">ویرایش</a>#}
{#            <a href="{% url 'delete_bijak' b.pk %}" class="btn btn-sm btn-danger">حذف</a>#}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="12" class="text-center">هیچ داده‌ای یافت نشد</td>
    </tr>
{% endfor %}
</tbody>
