{% load static %}
{% load persian_numbers %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرم حمل و نقل - A5 افقی</title>
    <link rel="stylesheet" href="{% static 'css/print.css' %}">

</head>
<body>
<div class="container">
    <div class="controls no-print">
        <button onclick="togglePreview()">پیش‌نمایش A5 افقی</button>
        <button onclick="window.print()">چاپ فرم</button>
        <button onclick="showFormData()" class="secondary">ویرایش اطلاعات</button>
    </div>

    <div class="form-content" id="formContent">
        <!-- Header Section -->
        <div class="header-section section">
            <div>
                <!-- Contact Information -->
                <div class="phone-section section">
                    <div class="qr-container">
                        <img src="{% url 'bijak_qr' bijak.id %}" alt="QR Code">
                    </div>
                    <div class="phones">
                        <span>۰۵۱۳۵۴۲۰۷۰۳</span>
                        <span>۰۵۱۳۵۴۲۰۷۰۴</span>
                        <span>۰۹۳۰۹۸۴۳۷۰۴</span>
                        <span>۰۹۱۵۹۱۷۵۲۰۳</span>
                    </div>
                </div>
            </div>

            <div class="company-header">
                <h1>سازمان راهداری و حمل ونقل جاده ای</h1>
                <p>اتحادیه وانت بار بارهای مشهد و حومه</p>
                <p>بارنامه جاده ای داخلی</p>
                <h2>موسسه حمل و نقل صدرا بار خراسان شماره ثبت: ۲۵۱</h2>
            </div>

            <!-- Bijak Information -->
            <div class="bijak-section section">
                <div>
                    <div>
                        <label>ارزش محموله:</label>
                        <span>
                        {{ bijak.value|persian_numbers }}
                        </span>
                    </div>
                    <div>
                        <label>شماره بارنامه:</label>
                        <span>
                        {{ bijak.tracking_code|persian_numbers }}
                        </span>
                    </div>
                    <div>
                        <label>تاریخ:</label>
                        <span>
                        {{ bijak.issuance_date|persian_numbers }}
                        </span>
                    </div>
                </div>
                {#                <div class="form-field">#}
                {#                    <label>ساعت حرکت:</label>#}
                {#                    <input type="text" id="movementTime">#}
                {#                </div>#}
            </div>
        </div>

        <!-- Main Data Table -->
        <div class="section">
            <table class="form-table">
                <tr>
                    <th class="table-header" style="width: 20%;">فرستنده:</th>
                    <th class="table-header" style="width: 15%;">شناسه/کد ملی:</th>
                    <th class="table-header" style="width: 9%;">کد پستی:</th>
                    <th class="table-header" style="width: 100%;">آدرس محل بارگیری:</th>
                    <th class="table-header">تلفن:</th>

                </tr>
                <tr>
                    <td class="table-cell">{{ bijak.sender.name }}</td>
                    <td class="table-cell">{{ bijak.sender.national_id|persian_numbers }}</td>
                    <td class="table-cell">{{ bijak.sender.postal|persian_numbers }}</td>
                    <td class="table-cell" style="width: 100%;">
                        {{ bijak.sender.address|persian_numbers }}
                    </td>
                    <td class="table-cell">{{ bijak.sender.phone|persian_numbers }}</td>
                </tr>
                <tr>
                </tr>
                <tr>
                </tr>
            </table>
            <table class="form-table">
                <tr>
                    <th class="table-header" style="width: 20%;">گیرنده:</th>
                    <th class="table-header" style="width: 15%;">شناسه/کد ملی:</th>
                    <th class="table-header" style="width: 9%;">کد پستی:</th>
                    <th class="table-header" style="width: 100%;">آدرس محل تخلیه:</th>
                    <th class="table-header">تلفن:</th>
                </tr>
                <tr>
                    <td class="table-cell">{{ bijak.receiver.name }}</td>
                    <td class="table-cell">{{ bijak.receiver.national_id|persian_numbers }}</td>
                    <td class="table-cell">{{ bijak.receiver.postal|persian_numbers }}</td>
                    <td class="table-cell" style="width: 100%;">
                        {{ bijak.receiver.address|persian_numbers }}
                    </td>
                    <td class="table-cell">{{ bijak.receiver.phone|persian_numbers }}</td>
                </tr>
            </table>
        </div>

        <!-- Driver Information Table -->
        <div class="section">
            <table class="form-table">
                <tr>
                    <th class="table-header" style="width: 20%">نام و نام خانوادگی راننده</th>
                    <th class="table-header" style="width: 15%">کد ملی</th>
                    <th class="table-header" style="width: 10%">تاریخ تولد</th>
                    <th class="table-header">نام پدر</th>
                    <th class="table-header">شماره گواهینامه</th>
                    <th class="table-header">تاریخ صدور گواهینامه</th>
                </tr>
                <tr>
                    <td class="table-cell">{{ bijak.driver.name }}</td>
                    <td class="table-cell">{{ bijak.driver.national_id|persian_numbers }}</td>
                    <td class="table-cell">{{ bijak.driver.birth_date|persian_numbers }}</td>
                    <td class="table-cell">{{ bijak.driver.father_name }}</td>
                    <td class="table-cell">{{ bijak.driver.certificate|persian_numbers }}</td>
                    <td class="table-cell">{{ bijak.driver.certificate_date|persian_numbers }}</td>
                </tr>
            </table>
            <table class="form-table">
                <tr>
                    <th class="table-header" style="width: 15%;">شماره تلفن راننده</th>
                    <th class="table-header" style="width: 15%">شماره تلفن دوم راننده</th>
                    <th class="table-header" style="width: 10%">ساکن شهر</th>
                    <th class="table-header" style="width: 100%">آدرس راننده</th>
                </tr>
                <tr>
                    <td class="table-cell">{{ bijak.driver.phone|persian_numbers }}</td>
                    <td class="table-cell">{{ bijak.driver.phone2|persian_numbers }}</td>
                    <td class="table-cell">{{ bijak.driver.residence }}</td>
                    <td class="table-cell">{{ bijak.driver.address|persian_numbers }}</td>
                </tr>
            </table>
        </div>

        <!-- Vehicle Information Table -->
        <div class="section">
            <table class="form-table">
                <tr>
                    <th class="table-header">نوع ناوگان</th>
                    <th class="table-header">شماره پلاک</th>
                    <th class="table-header">سری پلاک</th>
                    <th class="table-header">هوشمند ناوگان</th>
                    <th class="table-header">هوشمند راننده</th>
                </tr>
                <tr>
                    <td class="table-cell">{{ bijak.vehicle.type }}</td>
                    <td class="table-cell">
                        {{ bijak.vehicle.license_plate_three_digit|persian_numbers }}
                        {{ bijak.vehicle.license_plate_alphabet }}
                        {{ bijak.vehicle.license_plate_two_digit|persian_numbers }}
                    </td>
                    <td class="table-cell">
                        <span>ایران   </span>
                        {{ bijak.vehicle.license_plate_series|persian_numbers }}
                    </td>
                    <td class="table-cell"></td>
                    <td class="table-cell"></td>
                </tr>
            </table>
        </div>

        <!-- Cargo Information Table -->
        <div class="section">
            <table class="form-table-cargo">
                <thead>
                <tr>
                    <th class="table-header-cargo">نام محموله</th>
                    <th class="table-header-cargo">وزن(کیلوگرم)/حجم(لیتر)</th>
                    <th class="table-header-cargo">نوع بسته بندی</th>
                    <th class="table-header-cargo">تعداد بسته</th>
                    <th class="table-header-cargo">مبدا بارگیری</th>
                    <th class="table-header-cargo">مقصد تخلیه</th>
                </tr>
                </thead>
                <tbody>
                <tr class="green-boxes">
                    <td class="table-cell-cargo">{{ bijak.cargo.name }}</td>
                    <td class="table-cell-cargo">{{ bijak.cargo.weight|persian_numbers }}</td>
                    <td class="table-cell-cargo">{{ bijak.cargo.package_type }}</td>
                    <td class="table-cell-cargo">{{ bijak.cargo.number_of_packaging|persian_numbers }}</td>
                    <td class="table-cell-cargo">{{ bijak.cargo.origin }}</td>
                    <td class="table-cell-cargo">{{ bijak.cargo.destination }}</td>

                </tr>
                </tbody>
            </table>
        </div>

        <!-- Bottom Information Section -->
        <div class="bottom-section section">
            <div class="form-field">
                <label>مبلغ کرایه:</label>
                <span>
                    {{ bijak.freight|persian_numbers }} ریال
                </span>
            </div>

            <div class="form-field">
                <label>بیمه:</label>
                <span>
                        {{ bijak.insurance|persian_numbers }}ریال
                </span>
            </div>

            <div class="form-field">
                <label>خدمات:</label>
                <span>
                        {{ bijak.loading_fee|persian_numbers }}ریال
                </span>
            </div>

            <div class="form-field">
                <label>کل کرایه پرداختی در مقصد:</label>
                <span>
                        {{ bijak.total_fare|persian_numbers }} ریال
                </span>
            </div>

            <div class="form-field">
                <label>مبلغ به حروف:</label>
                <span>
                    {{ bijak.num_in_words }}
                </span>
            </div>
        </div>

        <!-- Caption Section -->
        <div class="form-field section" style="margin: 10px 5px 5px 5px">
            <span>
                {{ bijak.final_description }}
            </span>
        </div>
    </div>


    <!-- Signature Section -->
    {#    <div class="signature-section section">#}
    {#        <div class="signature-box">#}
    {#            <p>امضاء راننده</p>#}
    {#        </div>#}
    {#        <div class="signature-box">#}
    {#            <p>امضاء تحویل گیرنده</p>#}
    {#        </div>#}
    {#        <div class="signature-box">#}
    {#            <p>مهر و امضاء</p>#}
    {#            <p>شرکت حمل و نقل صدرابار خراسان</p>#}
    {#            <p style="font-size: 10px;">مدیریت: سید سعید حسینی</p>#}
    {#        </div>#}
    {#    </div>#}
</div>

<script>
    let isPreview = false;

    function togglePreview() {
        const formContent = document.getElementById('formContent');
        const button = event.target;

        if (!isPreview) {
            formContent.style.transform = 'scale(0.7)';
            formContent.style.transformOrigin = 'top center';
            formContent.style.width = '210mm';
            formContent.style.maxWidth = '210mm';
            formContent.style.height = '148mm';
            formContent.style.border = '2px dashed #007bff';
            formContent.style.margin = '20px auto';
            button.textContent = 'نمای عادی';
            isPreview = true;
        } else {
            formContent.style.transform = '';
            formContent.style.transformOrigin = '';
            formContent.style.width = '';
            formContent.style.maxWidth = '';
            formContent.style.height = '';
            formContent.style.border = '';
            formContent.style.margin = '';
            button.textContent = 'پیش‌نمایش A5 افقی';
            isPreview = false;
        }
    }

    function showFormData() {
        const formData = {
            operationValue: document.getElementById('operationValue').value,
            movementTime: document.getElementById('movementTime').value,
            formNumber: document.getElementById('formNumber').value,
            date: document.getElementById('date').value,
            services: document.getElementById('services').value,
            detailedAmount: document.getElementById('detailedAmount').value,
            totalCargo: document.getElementById('totalCargo').value,
            explanation: document.getElementById('explanation').value
        };

        console.log('Form Data:', formData);
        alert('اطلاعات فرم در کنسول مرورگر نمایش داده شد');
    }

    // Add form validation and data collection for all inputs if needed
    function collectAllFormData() {
        const inputs = document.querySelectorAll('input');
        const data = {};
        inputs.forEach((input, index) => {
            if (input.id) {
                data[input.id] = input.value;
            } else {
                data[`field_${index}`] = input.value;
            }
        });
        return data;
    }

    function toWords(num) {
        return fetch(`/to-words/?num=${num}`)
            .then(res => res.json())
            .then(data => {
                document.getElementById("id_amount_words").value = data.words;
            });
    }

    document.getElementById("id_amount").addEventListener("input", function () {
        let val = this.value;
        if (val) toWords(val);
        else document.getElementById("id_amount_words").value = "";
    });
</script>
</body>
</html>