{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <title>فرم صدور بارنامه</title>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/form.css">

<style>
.selectable-card {
    cursor: pointer;
    border: 1px solid #ddd;
    transition: 0.2s;
    position: relative;
}

.selectable-card:hover {
    background-color: #f8f9fa;
}

.selectable-card.selected {
    border-color: #28a745;
    background-color: #e6f4ea;
}

.selectable-card .checkmark {
    display: none;
    color: green;
    font-size: 1.2rem;
}

.selectable-card.selected .checkmark {
    display: inline;
}
</style>

    </head>
    <body>
         <div class="container">
             <h2>فرم ثبت بارنامه جدید</h2>
             <hr>
             <hr>
                {% if messages %}
        <div class="mt-3">
                {% for message in messages %}
         <div class="alert
                  {% if message.tags == 'error' %}alert-danger
                  {% elif message.tags == 'success' %}alert-success
                  {% else %}alert-info{% endif %}">
                    {{ message }}
                    </div>
        {% endfor %}
  </div>
{% endif %}
        <hr>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="section">
                        <h3>انتخاب فرستنده</h3>
                        <hr>
                        <div class="row">
                            <div class="text-center col-md-10">

                                <input type="text" id="sender-input" class="form-control" placeholder="جستجوی فرستنده...">
    <input type="hidden" id="sender-id" name="sender">
    <div id="sender-results" class="list-group"></div>

                            </div>
                            <div class="text-center col-md-1">
                                <a href="{% url 'add_customer' %}" target="_self"
                                   class="btn btn-secondary btn-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-6">
                    <div class="section">
                        <h3>انتخاب گیرنده</h3>
                        <hr>
                        <div class="row">
                            <div class="text-center col-md-10">
                                <input type="text" id="receiver-input" class="form-control" placeholder="جستجوی گیرنده...">
    <input type="hidden" id="receiver-id" name="receiver">  <!-- مقدار واقعی -->
    <div id="receiver-results" class="list-group"></div>

                                {#                                <input type="text" id="receiver-input" placeholder="نام گیرنده را انتخاب کنید...">#}

                                {#                                <select name="shipment-receiver" id="receiver_select">#}
                                {#                                    <option value="">-- انتخاب گیرنده --</option>#}
                                {#                                    {% for receiver in receiver_form.fields.receiver.queryset %}#}
                                {#                                        <option value="{{ receiver.id }}">{{ receiver.name }}</option>#}
                                {#                                    {% endfor %}#}
                                {#                                </select>#}

                                {#                                <div class="result-box" id="results"></div>#}
                                {#                                {{ receiver_form.as_p }}#}
                            </div>
                            <div class="text-center col-md-1">
                                <a href="{% url 'add_customer' %}" target="_self"
                                   class="btn btn-secondary btn-lg btn-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="section">
                            <h3>اطلاعات راننده</h3>
                            <hr>
                            <div class="row">
                                <div class="text-center col-md-10">

                                    <input type="text" id="driver-input" class="form-control" placeholder="جستجوی راننده...">
    <input type="hidden" id="driver-id" name="driver">
    <input type="hidden" id="vehicle-plate" name="vehicle_plate"> <!-- شماره پلاک -->
    <div id="driver-results" class="list-group"></div>

                                    {#                                    <input type="text" id="driver-input" placeholder="نام راننده را جستجو کنید...">#}

                                    {#                                    <select name="shipment-driver" id="driver-select">#}
                                    {#                                        <option value="">-- انتخاب راننده --</option>#}
                                    {#                                        {% for driver in driver_form.fields.driver.queryset %}#}
                                    {#                                            <option value="{{ driver.id }}">{{ driver.name }}</option>#}
                                    {#                                        {% endfor %}#}
                                    {#                                    </select>#}

                                </div>
                                <div class="text-center col-md-1">
                                    <a href="{% url 'add_driver' %}" target="_self"
                                       class="btn btn-secondary btn-lg btn-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="section">
                            <h3>اطلاعات خودروی راننده</h3>
                            <hr>
                            <div class="row">
                                <div class="text-center col-md-10">

{#                                    <label for="vehicle-plate">شماره پلاک</label>#}

{#                                        <input type="text" id="vehicle-plate" name="vehicle_plate" class="form-control" placeholder="شماره پلاک راننده">#}

                                                <div class="plate">

                                                <!-- استان -->
            <div class="province">
                <span>ایران</span>
                <span id="province">{{ vehicle.license_plate_series }}</span>
            </div>
            <!-- پرچم ایران -->
            <div class="flag-box">

                <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Flag_of_Iran.svg" alt="Iran Flag">
                <span>I.R. IRAN</span>
            </div>

            <!-- اعداد و حرف پلاک -->
            <div class="number-box">
                            <span id="second-number">{{ vehicle.license_plate_three_digit }}</span>
                <span class="letter" id="letter">{{ vehicle.license_plate_alphabet }}</span>

                <span id="first-number">{{ vehicle.license_plate_two_digit }}</span>
            </div>
                  <!-- hidden برای ذخیره در دیتابیس -->

      <input type="hidden" id="vehicle-id" name="vehicle">

        </div>



                                    {#                                    <input type="text" id="driver-input" placeholder="نام راننده را انتخاب کنید...">#}

                                    {#                                    <select name="shipment-vehicle" id="vehicle-select">#}
                                    {#                                        <option value="">-- انتخاب خودرو --</option>#}
                                    {#                                        {% for vehicle in vehicle_form.fields.vehicle.queryset %}#}
                                    {#                                            <option value="{{ vehicle.id }}">{{ driver.name }}</option>#}
                                    {#                                        {% endfor %}#}
                                    {#                                    </select>#}


                                </div>
                                <div class="text-center col-md-1">
                                    <a href="{% url 'add_vehicle' %}" target="_self"
                                       class="btn btn-secondary btn-lg btn-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section">
                                <h3>اطلاعات بارنامه</h3>
                                <hr>
                                {{ shipment_form.as_p }}
                            </div>


                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="section">
                                <h3>اطلاعات محموله</h3>
                                <hr>
                                {{ cargo_form.as_p }}
                            </div>
                        </div>
                        <br>
                        <!-- بخش افزودن توضیحات -->
                                        <div class="row">
                                    <div class="col-md-12">
                        <div class="section">
                            <h3>توضیحات</h3>
                            <hr>
                            <div class="row">
                                <div class="text-center col-md-12">

<div class="form-field section">
    <label class="form-label">انتخاب توضیحات:</label>
       <div class="d-flex flex-column gap-2">
    {% for checkbox in shipment_form.captions %}
        {% for caption_obj in shipment_form.fields.captions.queryset %}
            {% if caption_obj.name == checkbox.choice_label %}
                <label class="card selectable-card position-relative">
                    <!-- چک‌باکس مخفی با opacity صفر -->
                    <input type="checkbox" name="{{ checkbox.name }}" value="{{ checkbox.choice_value }}"
                           style="position:absolute; opacity:0; width:0; height:0;">
                    <div class="card-body d-flex align-items-start">
                        <div>
                            <h6 class="card-title">{{ caption_obj.name }}</h6>
                            <p class="card-text">{{ caption_obj.content|truncatechars:100 }}</p>
                        </div>
                        <span class="checkmark position-absolute top-0 end-0 m-2">&#10003;</span>
                    </div>
                </label>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
    </div>
    </div>
    <!-- فیلد توضیحات دستی -->
    <input type="text" id="customExplanation" placeholder="اگر نیاز به توضیحات اضافه دارید، بنویسید...">


                                </div>
                                <div class="text-center col-md-8">
                                    <a href="{% url 'add_caption' %}" target="_self"
                                       class="btn btn-secondary btn-lg btn-block">
                                       افزودن همیشگی توضیحات
{#                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                                             fill="currentColor"#}
{#                                             class="bi bi-plus" viewBox="0 0 16 16">#}
{#                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>#}
{#                                        </svg>#}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

</div>

                    </div>
                    <hr>
                    <div style="text-align: center;">
                        <button type="submit" name="action" value="save_print" class="btn btn-success" rel={% url 'print' %}>ثبت و چاپ</button>
                        <button type="submit" name="action" value="draft" class="btn btn-secondary">ثبت موقت قبل از چاپ</button>
                                    <button type="submit" name="action" class="print-button" rel="{% url 'create_new'%}">صفحه اصلی </button>

                    </div>
                    <hr>
                </div>
                <br>
            </div>



        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-date@1.0.6/dist/persian-date.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>

<script>
    const urls = {
        searchCustomer: "{% url 'search_customer' %}",
        searchDriver: "{% url 'search_driver' %}",
        getVehicleByDriver: "{% url 'get_vehicle_by_driver' %}",
        searchVehicle: "{% url 'search_vehicle' %}"
    };
</script>

<script src="{% static 'shipment_form.js' %}">

</script>


    </body>
    </html>
{% endblock %}
