{% extends "issuance/search/base.html" %}

{% block content %}
    <h2>{% block title %}🗂️ مدیریت بررسی بارنامه‌ها{% endblock %}</h2>

    {% if messages %}
        <div class="mb-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <hr>
    <h3>🔎 بارنامه‌های در انتظار بررسی</h3>

    {% if shipments_pending %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>تاریخ صدور</th>
                <th>فرستنده</th>
                <th>گیرنده</th>
                <th>راننده</th>
                <th>ثبت‌کننده</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            {% for s in shipments_pending %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.issuance_datetime|date:"Y/m/d H:i" }}</td>
                    <td>{{ s.sender }}</td>
                    <td>{{ s.receiver }}</td>
                    <td>{{ s.driver }}</td>
                    <td>{{ s.created_by }}</td>
                    <td>
                        <a href="{% url 'issuance:manager:preview' s.id %}"
                           class="btn btn-sm btn-primary">
                            بررسی و تایید
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-muted">موردی برای بررسی وجود ندارد.</p>
    {% endif %}

    <hr>
    <h3>✅ بارنامه‌های تایید شده</h3>

    {% if shipments_approved %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>تاریخ صدور</th>
                <th>فرستنده</th>
                <th>گیرنده</th>
                <th>راننده</th>
                <th>ثبت‌کننده</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            {% for s in shipments_approved %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.issuance_datetime|date:"Y/m/d H:i" }}</td>
                    <td>{{ s.sender }}</td>
                    <td>{{ s.receiver }}</td>
                    <td>{{ s.driver }}</td>
                    <td>{{ s.created_by }}</td>
                    <td>
                        <a href="{% url 'issuance:crud:print' s.id %}" class="btn btn-sm btn-success">
                            چاپ بارنامه
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-muted">بارنامه تایید شده‌ای وجود ندارد.</p>
    {% endif %}

    <hr>
    <h3>❌ بارنامه‌های رد شده</h3>

    {% if shipments_rejected %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>تاریخ صدور</th>
                <th>فرستنده</th>
                <th>گیرنده</th>
                <th>راننده</th>
                <th>ثبت کننده</th>
                <th>علت رد</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            {% for s in shipments_rejected %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.issuance_datetime|date:"Y/m/d H:i" }}</td>
                    <td>{{ s.sender }}</td>
                    <td>{{ s.receiver }}</td>
                    <td>{{ s.driver }}</td>
                    <td>{{ s.created_by }}</td>
                    <td>{{ s.reject_reason }}</td>
                    <td>
                        <p class="text-center text-muted">در انتظار اصلاح</p>
{#                        <a href="{% url 'issuance:crud:print' s.id %}" class="btn btn-sm btn-success">#}
{#                            چاپ بارنامه#}
{#                        </a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-muted">بارنامه تایید شده‌ای وجود ندارد.</p>
    {% endif %}


{% endblock %}
