{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h2>حمل و نقل سریع مطمئــن</h2>
        <h2>مقرون به صرفه</h2>
        <p>ارائه خدمات باربری شهری و بین شهری</p>
        <p>با بهترین کیفیت</p>
        <button>دریافت مشاوره رایگان</button>
    </div>
</section>

<section class="about container">
    <h2>درباره ما</h2>
    <p>
        شرکت ما با بیش از ۱۵ سال سابقه مفید در زمینه حمل و نقل بار، آماده ارائه خدمات سریع، ایمن و قابل اعتماد در سراسر کشور
        می‌باشد.
    </p>
</section>

<section class="services container">
    <h2>خدمات ما</h2>
    <div class="cards">
        <div class="card">
            <h3>حمل شهری</h3>
            <p>حمل بار درون‌شهری با نیسان، وانت و کامیونت.</p>
        </div>
        <div class="card">
            <h3>بین‌شهری</h3>
            <p>ارسال بار به تمام استان‌ها با قیمت‌های مناسب.</p>
        </div>
        <div class="card">
            <h3>سراسر کشور</h3>
            <p>ارسال و حمل بار به تمامی نقاط کشور در سریع ترین زمان.</p>
        </div>
    </div>
</section>

<section class="pricing container">
    <h2>تعرفه خدمات</h2>
    <table>
        <thead>
        <tr>
            <th>نوع خدمات</th>
            <th>نوع وسیله</th>
            <th>قیمت پایه</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>حمل شهری</td>
            <td>نیسان</td>
            <td>از ۵۵۰٬۰۰۰ تومان</td>
        </tr>
        <tr>
            <td>حمل شهری</td>
            <td>پیکان</td>
            <td>از ۳۰۰٬۰۰۰ تومان</td>
        </tr>
        <tr>
            <td>حمل بین‌شهری</td>
            <td>نیسان</td>
            <td>از ۱٬۵۰۰٬۰۰۰ تومان</td>
        </tr>
        <tr>
            <td>حمل بین‌شهری</td>
            <td>پیکان</td>
            <td>از ۱٬۰۰۰٬۰۰۰ تومان</td>
        </tr>
        <tr>
            <td>حمل استانی</td>
            <td>پیکان نیسان و...</td>
            <td>تماس بگیرید</td>
        </tr>
        </tbody>
    </table>
</section>

<section class="contact container">
    <h2>تماس با ما</h2>
    <form id="contactForm">
        <input type="text" placeholder="نام شما" required>
        <input type="email" placeholder="ایمیل" required>
        <textarea placeholder="پیام شما..." required></textarea>
        <button type="submit">ارسال</button>
    </form>
</section>
{% endblock %}