{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>تعرفه ها</title>
</head>
<body>
<section class="pricing container">
    <h2>تعرفه خدمات</h2>
    <table>
        <thead>
        <tr>
            <th>نوع خدمات</th>
            <th>نوع وسیله</th>
            <th>قیمت پایه</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>حمل شهری</td>
            <td>نیسان</td>
            <td>از ۵۵۰٬۰۰۰ تومان</td>
        </tr>
        <tr>
            <td>حمل شهری</td>
            <td>پیکان</td>
            <td>از ۳۰۰٬۰۰۰ تومان</td>
        </tr>
        <tr>
            <td>حمل بین‌شهری</td>
            <td>نیسان</td>
            <td>از ۱٬۵۰۰٬۰۰۰ تومان</td>
        </tr>
        <tr>
            <td>حمل بین‌شهری</td>
            <td>پیکان</td>
            <td>از ۱٬۰۰۰٬۰۰۰ تومان</td>
        </tr>
        <tr>
            <td>حمل استانی</td>
            <td>پیکان نیسان و...</td>
            <td>تماس بگیرید</td>
        </tr>
        </tbody>
    </table>
</section>
{% endblock %}

</body>
</html>